.select-title {
    background-color: #141414;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.select-title-height {
    height: 54px;
}
label.select-title-label-height {
    line-height: 54px;
}

.date-circle {
    cursor: pointer;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: white;
}
.date-circle.active {
    background-color: #FFEE00;
    color: black;
}
.swiper-slide.swiper-slide-active>img {
    border: 2px solid #FFEE00;
}
.time-select {
    cursor: pointer;
}
.time-select.clicked {
    background-color: #FFEE00;
    color: black;
}
































#masking {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 10001;
}
#popup {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10002;
}
.seat-container {
    max-width: 100%;
    overflow-x: auto;
    background-color: #000;
}
.close-popup {
    width: 560px;
}
#close-times {
    cursor: pointer;
    color: white;
    font-size: larger;
}
.cinema-hall-screen {
    width: 560px;
}
#screen {
    border-radius: 50%;
    border-top: 10px solid white;
    height: 50px;
}
.select-seat-container {
    width: 560px;
}
.seat-circle {
    width: 30px;
    height: 25px;
    border-radius: 50% 50% 0 0;
    margin: 5px;
    display: inline-block;
}
.seat-available {
    cursor: pointer;
    background-color: gray;
}
.seat-unavailable {
    background-color: yellow;
}
.seat-sop {
    background-color: rgb(255, 101, 101);
}
.seat-available.seat-clicked {
    background-color: rgb(0, 189, 189);
}
#confirm-seat {
    max-width: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10002;
}
.confirm-button-available {
    background-color: #FFEE00;
}
.confirm-button-available:hover {
    background-color: #e0d100;
}






.bg-body {
    background-color: #000;
}
input.bg-body:focus,input.bg-body:active {
    background-color: #000;
}

.ticket-btn {
    color: black;
    background-color: #FFEE00;
}